.about {
    position: relative;
    padding-top: 5.625rem;

    @media screen and (min-width: 768px) {
        padding: 5.625rem 0;
    }

    &__wrapper {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        min-height: 1px;
        height: 100%;

        @media screen and (min-width: 768px) {
            flex: 0 0 50%;
            max-width: 50%;
            height: unset;
        }

        @media screen and (min-width: 992px) {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }

    &__order {
        order: -1;

        @media screen and (min-width: 768px) {
            order: 0;
        }
    }

    &__image {
        max-width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 5px;
    }

    &__paragraph {
        font-weight: 400;
        font-style: normal;
        font-size: 1.125rem;
        line-height: 28px;
        color: #4C5A6B;
        text-align: left;
        margin-bottom: 2.5rem;
        width: 100%;

        // @media screen and (min-width: 1024px) {
        //     width: 75%;
        // }
    }

    &__heading {
        font-size: clamp(1.165rem, 6vw, 2.625rem);
        font-weight: 700;
        line-height: 52px;
        text-align: left;
        color: #1E0E62;
        margin-bottom: 2.5rem;
    }

    &__figure {
        // border-radius: 10px;
        // box-shadow: 0 5px 5px rgba(0, 0, 0, .05);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.5rem;

        @media screen and (min-width: 768px) {
            margin-bottom: unset;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__cta {
        margin-bottom: 2.5rem;
    }

    &__button {
        color: #fff;
        background-color: #25DAC4;
        padding: .5rem 1.5rem;
        border-radius: 20px;
        text-decoration: none;
    }
}