.about {
    position: relative;
    padding-top: 5.625rem;

    &--dark {
        background: #18171B;

        .about__heading {
            color: #fff !important;
        }

        .about__paragraph {
            color: #97969d;
        }
    }

    @media screen and (min-width: 768px) {
        padding: 5.625rem 0;
    }

    &__wrapper {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        min-height: 1px;
        height: 100%;

        @media screen and (min-width: 768px) {
            flex: 0 0 50%;
            max-width: 50%;
            height: unset;
        }

        @media screen and (min-width: 992px) {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }

    &__order {
        order: -1;

        @media screen and (min-width: 768px) {
            order: 0;
        }
    }

    &__image {
        max-width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 5px;
    }

    &__paragraph {
        font-weight: 400;
        font-style: normal;
        font-size: 1.7rem;
        line-height: 28px;
        color: #4C5A6B;
        letter-spacing: 2px;
        text-align: left;
        margin-bottom: 2.5rem;
        width: 100%;

        // @media screen and (min-width: 1024px) {
        //     width: 75%;
        // }
    }

    &__heading {
        font-size: clamp(1.165rem, 6vw, 2.625rem);
        font-weight: 700;
        line-height: 52px;
        text-align: left;
        color: #1E0E62;
        font-family: 'Dancing Script', cursive;
        letter-spacing: 5px;
        margin-bottom: 2.5rem;
        
        h1 {
            position: relative;
            border: 5px solid #1E0E62;
            border-left: 0;
            padding: 5px 0 0 0;
            border-right: 0;
            transform: rotate(-3deg);
            
            @media screen and (min-width: 768px) {
                padding: 5px 0 14px 0;
            }
        }
    }

    &__figure {
        // border-radius: 10px;
        // box-shadow: 0 5px 5px rgba(0, 0, 0, .05);
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.5rem;

        @media screen and (min-width: 768px) {
            margin-bottom: unset;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__cta {
        margin-bottom: 2.5rem;
    }

    &__button {
        color: #fff;
        font-family: 'Poppins', sans-serif;
        background-color: #fe1a93;
        padding: .5rem 1.5rem;
        border-radius: 20px;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            background-color: #000;
        }
    }
}

.page {
    position: relative;
    background: #fafafa;

    &__content {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        min-height: 1px;
        
        @media screen and (min-width: 768px) {
            flex: 0 0 100%;
            max-width: 100%;
        }

        @media screen and (min-width: 992px) {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }

    &__heading {
        font-size: clamp(1.165rem, 6vw, 2.625rem);
        font-weight: 700;
        line-height: 52px;
        text-align: left;
        color: #1E0E62;
        margin-bottom: 2.5rem;
        font-family: 'Dancing Script', cursive;
    }

    &__paragraph {
        font-weight: 400;
        font-style: normal;
        font-size: 1.7rem;
        letter-spacing: 2px;
        line-height: 28px;
        color: #4C5A6B;
        text-align: left;
        margin-bottom: 2.5rem;
        width: 100%;
    }

    &__img-wrapper {
        width: 100%;
        height: 100%;
        height: 500px;
        margin-bottom: 2.5rem;
    }

    &__image {
        max-width: 100%;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}