.event {
    position: relative;
    // background-position: center top;
    background: url(https://res.cloudinary.com/gopal1996/image/upload/v1611954187/studioKalasangam/photo-1586210477741-f3d7dc250c78_qu2my8.jpg) no-repeat center top;
    background-size: cover;
    // background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5.625rem 0;

    &::before {
        content: "";
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: linear-gradient(90deg, rgba(26, 12, 24, 0.31) 0%, rgba(26, 25, 25, 0.53) 100%);
    }

    &__card {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;

        @media screen and (min-width: 992px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &__row {
        justify-content: center;
        
        @media screen and (min-width: 992px) {
            padding-left: calc(4rem - 15px);
            padding-right: calc(4rem - 15px);
        }
    }

    &__box {
        padding: 30px 20px;
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
        background: rgb(255, 255, 255) none repeat scroll 0 0;
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__picture {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            flex: 0 0 50%;
            max-width: 50%;
        }

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;

            @media screen and (min-width: 768px) {
                width: 200px;
                height: 200px;
            }
        }
    }

    &__detail {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: space-evenly;
        
        @media screen and (min-width: 768px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &__title {
        color: #c6185d;
        font-size: 1rem;
        font-weight: 500;
        // margin-bottom: 10px;
        @media screen and (min-width: 768px) {
            text-align: center;
        }
    }

    &__date {
        color: #646a7c;
    }

    &__cta {
        border: 3px solid #f5f2f8;
        border-radius: 50px;
        font-size: 12px;
        font-weight: 500;
        padding: 5px 0;
        text-align: center;
        text-transform: uppercase;
        user-select: none;
        background: #fff;
        color: #c6185d;
        text-decoration: none;
        cursor: pointer;
        outline: none;
        transition: .5s;

        &:hover {
            background: #c6185d;
            color: #fff;
        }

        &:focus, &:active {
            outline: none;
            border: 3px solid #f5f2f8;
        }
    }
}