.footer {
    padding: 5rem 0;
    background: #1E1A1B;
    margin-bottom: 0%;

    &__wrapper {
        display: flex;
        justify-content: space-around;
        width: 100%;

        @media (min-width: 768px) {
            flex-direction: row;
        }
        
        @include respond(tab-port) { // width < 900?
            grid-row-gap: 1rem;
            padding: 0 1.25rem;
        }
    }

    &__medium {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;

        @media (min-width: 768px) {
            flex: 0 0 100%;
            max-width: 100%;
            width: unset;
        }
    }

    &__nav {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin-bottom: 0;

        &:last-child {
            @include respond(tab-port) { // width < 900?
                justify-self: flex-end;
            }
        }
    }

    &__text {
        color: #fff;
        font-size: .75rem;
        white-space: nowrap;
    }

    &__item {
        color: #fff;
        margin-right: 3rem;

        &--icon {
            margin-right: 1rem;
        }
    }

    &__link {
        color: #FFF;
        white-space: nowrap;

        &:hover {
            text-decoration: none;
            color: #EB4D37;
        }
    }
}